* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  cursor: pointer;
}

.slide {
  display: flex;
  /* valores movimento do slide feito pelo JS */
  /* transform: translate3d(0, 0, 0); */

  &:hover {
    will-change: transform;
  }

  &-wrapper {
    overflow: hidden;
  }

  li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
    opacity: 0.8;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: scale(0.8);
    transition: 0.3s;

    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  li {
    &.active a {
      background: #555;
    }

    a {
      display: block;
      width: 12px;
      height: 12px;
      background: #e7e7e7;
      border-radius: 50%;
      overflow: hidden;
      text-indent: -999px;
      margin: 5px;

      &:hover {
        background: #555;
      }
    }
  }
}
